.createCompanyform {
  padding: 20px 20px;
  background-color: #ffffff;
  margin: 15px;
  border-radius: 8px;
  height: auto;
  width: auto;
}

.tools {
  justify-content: center;
  gap: 30px;
}

.cloud {
    color: rgb(56, 69, 179);
    width: 150px;
    height: 20px;
    margin-top: 13px;
}

.cloud img {
  height: 20px;
  width: 20px;
}

.cancel_upload-wrapper {
  width: 185px !important;
}

.sidebar__height {
  top: 47px !important;
}

.blue_btn.upload__btn {
  margin-left: 20px !important;
  background-color: #253D98;
  color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #2F3990;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.68px;
  text-align: left;
  padding: 5px 15px;
}

.white_btn{
  color: #253D98;
  border-radius: 8px;
  border: 1px solid #2F3990;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  line-height: 23.68px;
  text-align: left;
  padding: 5px 15px;
}