
.history_transectiontable, .history_invoicetable{
    width: 100%;
    margin-top: 15px;
    max-height: 350px;
    border-collapse: collapse;
}
.history_invoicetable th:last-child, .history_invoicetable td:last-child {
    text-align: left;
}
.history_invoicetable th td {
    width: 10%;
}
.history_invoicetable th:nth-child(3), .history_invoicetable td:nth-child(3) {
    width: 40%;
}
.history_transectiontable td, .history_invoicetable td {
    width: max-content;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}
.history_transectiontable th, .history_invoicetable th {
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    top: 0;
    background-color: #fff;
}
.history_invoicetable_status{
    border-radius: 5px;
    padding: 5px;
    text-transform: capitalize;
}
.history_transectiontable_status{
    border-radius: 5px;
    padding: 5px;
    text-transform: capitalize;
    width: 20px;
}
.emptyTable{
    padding: 25px;
}

@media(max-width:1199px){
    .history_transectiontable, .history_invoicetable{
        width: 1199px;
    }
}