#################### PLEASE DON'T ADD ANYTHING IN `"` OR `"" ` ADD VALUE DIRECTLY AFTER `=`. ####################

################################################################################################################################################

########################################################################
MONGODB VARIABLES
REFER 2.1 IN DOCUMENT FOR SETUP BELOW MONGODB VARIABLES
########################################################################

MONGODB_URL=

################################################################################################################################################

########################################################################
WASABI VARIABLES
REFER 2.4 IN DOCUMENT FOR SETUP BELOW WASABI VARIABLES
########################################################################

WASABI_SECRET_ACCESS_KEY=
WASABI_ACCESS_KEY=
WASABI_USERID=

################################################################################################################################################

########################################################################
FIREBASE VARIABLES
REFER 2.5 IN DOCUMENT FOR SETUP BELOW FIREBASE VARIABLES
########################################################################

APIKEY=
AUTODOMAIN=
PROJECTID=
STORAGEBUCKET=
MESSAGINGSENDERID=
APPID=
MEASUREMENTID=

################################################################################################################################################

########################################################################
NODEMAILER VARIABLES
REFER 2.6 IN DOCUMENT FOR SETUP BELOW NODEMAILER VARIABLES
########################################################################

NODEMAILER_EMAIL=
NODEMAILER_EMAIL_PASSWORD=
NODEMAILER_HOST=
NODEMAILER_PORT=

################################################################################################################################################

########################################################################
For JWT_SECRET go to ‘https://acte.ltd/utils/randomkeygen’ website and then copy ‘Encryption key 256’ and add in JWT_SECRET varaible
########################################################################

JWT_SECRET=

################################################################################################################################################

########################################################################
For PRECOMPANYKEY go to ‘https://acte.ltd/utils/randomkeygen’ website and then copy ‘Basic 8’ and add in PRECOMPANYKEY varaible
########################################################################

PRECOMPANYKEY=

################################################################################################################################################

########################################################################
ADD VALUE AS PER YOUR NEED FOR BELOW VARIABLE
########################################################################

# Server Environment eg. Production
NODE_ENV=

# App Name is used in Email and Notification
APP_NAME=

# Your api url
APIURL=

# Your web url
WEBURL=

# Your Code canyon licensekey
CANYONLICENSEKEY=

# Add receiver email for receive any error email of backend process. Add multiple email by “,” .
ERRORRECIVEREMAIL=


################################################################################################################################################

########################################################################
DO NOT CHANGE BELOW KEPT BELOW VALUE AS IT IS.
########################################################################

PORT=4000
SERVICE_FILE=../firebase-adminsdk.json
WASABIENDPOINT=https://s3.wasabisys.com
WASABI_REGION=us-east-1
IAM_ENDPOINT=https://iam.wasabisys.com
CANYONAPIURL=https://console.alianhub.com
USERPROFILEBUCKET=userimageproduction
JWT_EXP=24h
JWT_ALGORITHM=HS256
NOOFPRESETCOMPANY=10
FREE_COMPANY_COUNT= -1(Unlimited) || 0(Unlimited) || Number
TRACKSHOT_RETENTION_DAYS=180

# If a user has been inactive for 5 days, no notifications will be sent to them during this period.
NOTIFICATIONACTIVETIME=5(Number)

################################################################################################################################################