PORT=4000
NODE_ENV="production"
APP_NAME="Your App Name"
SERVICE_FILE="../firebase-adminsdk.json"
WASABIENDPOINT="https://s3.wasabisys.com"
WASABI_REGION="us-east-1"
IAM_ENDPOINT="https://iam.wasabisys.com"
JWT_EXP="24h"
JWT_ALGORITHM="HS256"
NOOFPRESETCOMPANY=10
APIURL="http://localhost:4000/"
MONGO_CLOUD_URL="https://cloud.mongodb.com/api"
JWT_SECRET="e4298c901e6498d77881df577295aaf4"
PRECOMPANYKEY="d478ged1"
WEBURL="http://localhost:4000"