.current_plan_wrapper{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    /* height: 178px; */
    box-sizing: border-box;
}
.billing_adress_wrapper{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 20px 20px 0px;
    padding: 20px;
    width: 100%;
    /* height: 178px; */
    box-sizing: border-box;
    margin-top: 25px;
}
.billing_deail {
    width: 50%;
}

span.rightBox-title {
    font-family: Roboto;
    line-height: 28.6px;
    margin-bottom: 15px;
    display: block;
}
.billing_deail span,.cp_detail span {
    line-height: 22.4px;
    margin-bottom: 10px;
    font-family: Roboto;
}
.billing_deail span:first-child, .cp_detail span:first-child {
    min-width: 180px;
}
/*progress bar css*/
.cp_detail-right{
    width: 444px;
}
progress {
    display: block; /* default: inline-block */
    width: 300px;
    margin: 10px auto;
    padding: 0px;
    border: none;
    background: rgba(222, 226, 240, 1);
    border-radius: 14px;
    /* box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(37, 61, 152, 1); */
  }
  progress::-moz-progress-bar {
    border-radius: 12px;
    background: rgba(37, 61, 152, 1);
    border-radius: 14px;
    /* box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); */
  }
  /* webkit */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
      height: 15px;
      border-radius: 14px;
    }
  }
  progress::-webkit-progress-bar {
      background: transparent;
      border-radius: 14px;
  }  
  progress::-webkit-progress-value {  
    border-radius: 12px;
    background: rgba(37, 61, 152, 1);
    /* box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);  */
  } 
  @media(max-width:1640px){
    .cp_detail-right {
        width: 380px;
    }
  }
  @media(max-width:575px){
    .cp_detail-right {
        width: 100%;
    }
  }
@media(max-width:420px){
    .billing_deail{
        flex-wrap: wrap;
    }
    .billing_deail span:first-child, .cp_detail span:first-child {
        min-width: 100%;
    }
}