.companydetail_wrapper{
    background-color: #F4F5F7;
    /* height: calc(100vh - 70px); */
}
.company_details_div{
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    width: 329px;
    box-sizing: border-box;
}
.company_details_right.pl-50px {
    width: calc(100% - 329px);
    box-sizing: border-box;
}
.company_details--wrapper {
    margin-top: 25px;
}
.profile-image-detail{
    height: 120px;
    width: 120px;
    border: 1px solid none;
    border-radius: 60px;
}
.companydetail_wrapper .company_name{
    color: #181818;
    font-family: "Roboto";
    font-size: 26px;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 20px;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 500;
    line-height: 33.8px;
    text-align: center;
    width: 100%;
}
.detail_item span {
    line-height: 22.4px;
}
.details--mian {
    margin: 15px 0px;
}
.company_image_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.company_image--logo {
    margin-bottom: 20px;
}
.no-img-span {
    background-color: #2F3990;
    text-align: center;
    justify-content: center;
    color: #fff;
}
.tab-list-wrapper {
    margin-bottom: 20px;
}

@media(max-width:1440px){
    .company_details_right.pl-50px {
        padding-left: 30px;
    }
    .current_plan--wrapperMain {
        flex-wrap: wrap;
    }
    
    .current_plan--wrapperMain .cp_detail-left {
        width: 100%;
    }
    
    .current_plan--wrapperMain .cp_detail-right {
        margin-top: 15px;
    }
    .billing_deail {
        width: 100%;
    }
}
@media(max-width:991px){
    .company_details_right.pl-50px {
        padding-left: 0px;
        width: 100%;
        margin-top: 25px;
    }
    .company_details_div {
        width: 100%;
    }
    .detail_item--wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .detail_item--wrapper .detail_item {
        width: 50%;
    }
    .tab-list-wrapper {
        margin-bottom: 10px;
    }
}
@media(max-width:575px){
    .company_details_div {
        width: 100%;
    }
    .detail_item--wrapper .detail_item {
        width: 100%;
    }
}
@media(max-width:420px){
    .cp_detail,.current_plan--wrapperMain .cp_detail-right .justify-content-between {
        flex-wrap: wrap;
    }
}