.white-box-main {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 20px;
}
.emailTempalte-wrapper label, .emailTempalte-wrapper span.emailKeysVal {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.68px;
    text-align: left;
    color: rgba(24, 24, 24, 1);
}
.emailTempalte-wrapper .row {
    margin: 0px -15px;
    display: flex;
}
.emailTempalte-wrapper .row .col-md-12{
    width: 100%;
    padding: 0px 15px;
}
.emailTempalte-wrapper .row .col-md-8 {
    width: 66.66666667%;
    padding: 0px 15px;
}
.emailTempalte-wrapper .row .col-md-6 {
    width: 50%;
    padding: 0px 15px;
}
select.tempalteSelect {
    margin-bottom: 15px;
}
.emailTempalte-wrapper.white-box-main {
    margin-top: 25px;
}
button.company_button {
    background-color: #253D98;
    color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #2F3990;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    height: 44px;
    width: 142px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.68px;
}
.emailTempalte-wrapper.emailmsgWrapper .row {
    display: flex;
    flex-direction: column;
}
.company_button-wrapper {
    text-align: right;
    margin-top: 5px;
}
.emailmsgWrapper .col-md-12 {
    box-sizing: border-box;
}
.emailTempalte-wrapper .form-control {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    text-align: left;
    color: rgba(153, 153, 153, 1);
    padding: 10px 11px;
    border-radius: 8px;
}
.email_tempalte_activetab {
    color: #253D98;
    border-bottom: 1px solid;
}
.email_template_tab_title {
    width: 125px;
    justify-content: space-between;
    padding-bottom: 20px;
}
@media(max-width:767px){
    .emailTempalte-wrapper .row .col-md-8 {
        width: 100%;
        padding: 0px 15px;
    }
    .emailTempalte-wrapper .row{
        flex-wrap: wrap!important;
    }
    .emailTempalte-wrapper .row .col-md-6 {
        width: 100%!important;
        margin-bottom: 15px;
    }
}
