.plantab_wrapper{
    padding: 10px;
}
.white-box-main {
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 20px;
}
.uploadImgWrapper {
    margin-top: 25px;
}
.uploadImgWrapper .row .col-md-4 {
    width: 33.33%;
    max-width: 100%;
}
.uploadImgWrapper .row {
    display: flex;
    justify-content: space-between;
}
.uploadImgWrapper label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: rgba(24, 24, 24, 1);
    margin-bottom: 5px;
}
.uploadImgWrapper .upload-body-dragged {
    border-radius: 12px;
    border-width: 1px;
    /* padding: 66px 0px; */
    height: 185px;
    padding: 66px 15px;
    display: block;
    text-align: center;
}
.uploadImgWrapper .upload-body-dragged span {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.68px;
    text-align: left;
    color: rgba(107, 108, 122, 1);
}
.uploadImgWrapper .upload-body-dragged p span {
    color: rgba(37, 61, 152, 1);
}

.uploadImgWrapper .upload-body-dragged p span, .uploadImgWrapper .upload-body-dragged p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: center;
}
.uploadImgWrapper .form-group {
    width: 267px;
    border: 1px solid rgba(220, 220, 220, 1);
    border-radius: 5px;
    height: 40px;
}

.uploadImgWrapper input[type="color"] {
    width: 55px!important;
    height: 34px!important;
    border-radius: 6px 0px 0px 0px;
    opacity: 1px;
    position: relative;
    top: 3px;
    left:3px;
    border-radius: 6px;
}
.input-color-wrapper {
    align-items: center;
    display: flex;
}
.input-color-wrapper span {
    height: 15px;
    padding-left: 13px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    color: rgba(153, 153, 153, 1);
}
.themeCustomizer h4 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 28.6px;
    text-align: left;
    margin-bottom: 15px;
}
.themeCustomizer {
    margin-top: 25px;
}

.image-contain--wrapper {
    position: relative;
    z-index: 1;
}

img.uploaded_img {
    position: absolute;
    width: 92%;
    height: 100%;
    border-radius: 12px;
    left: 4%;
    top: 1px;
    z-index: 0;
    object-fit: contain;
}
.primary-button {
    background-color: #253D98;
    color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #2F3990;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.68px;
    text-align: left;
    padding: 5px 15px;
}
.mt-20-i {
    margin-top: 20px !important;
}
.link-button {
    color: #253D98;
    border-radius: 8px;
    border: 1px solid #2F3990;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    height: 44px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.68px;
    text-align: left;
    padding: 5px 15px;
}
.white-box-main-col {
    width: 100%;
    padding: 0;
}
.white-box-main .form-control {
    width: 100% !important;
    display: block;
}
label.control-label {
    font-family: 'roboto';
    font-size: 14px;
    font-weight: 500;
    line-height: 23.68px;
    text-align: left;
    color: #000;
}
.mt-10-i {
    margin-top: 15px !important;
}
@media(max-width:1460px){
    .upload-body-dragged {
        font-size: 16px;
    }
}
@media(max-width:1366px){
    .upload-body-dragged {
        font-size: 14px;
    }
}
@media(max-width:767px){
    .uploadImgWrapper .row{
        flex-wrap: wrap;
    }
    .uploadImgWrapper .row .col-md-4{
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }
    .col-sm-6 {
        width: 50%;
    }
    .mt-10-i {
        margin-top: 10px !important;
    }
}