.invoiceTableWrapper{
    position: relative;
    overflow: auto;
    max-height: 350px;
}
.subscriptionDetail_section1_wrapper{
    width: 50%;
}
.subscriprionDetail_subDetail{
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-right: 20px;
    padding: 15px;
}
.subscriprionDetail_title{
    font-size: 20px;
    font-weight: 600;
}
.subscriprionDetail_title--hr_line{
    border: 1px solid #F0F0F0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}
.subscription-tab-value{
    color: #181818;
}
.subscriptionDetailWrapper{
    display: flex;
    justify-content: space-between;
}
.subscriprionDetail_data{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.subscriprionDetail_data > * {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    /* line-height: 23.4px; */
    text-align: left;
    /* margin-bottom: 10px; */
}
.subscriptionSummarry_table td {
    /* border-top: 1px solid #EBEBEB !important; */
    border-bottom: 0px;
}
.summarry_planName{
    display: flex;
    flex-direction: column;
}
.summarry_table{
    width: 100%;
}
.summarry_table th:last-child ,.summarry_table td:last-child, .summarry_table th:nth-child(2) ,.summarry_table td:nth-child(2),.summarry_table th:nth-child(3) ,.summarry_table td:nth-child(3) {
    text-align: right;
}
.summarry_dot{
    height: 7px;
    width: 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
.history_tab_title{
    width: 200px;
    justify-content: space-between;
}
.history_activetab {
    color: #253D98;
    border-bottom: 1px solid;
}
.history_tab_title > * {
    padding: 10px 0px 10px 0px;
    cursor: pointer;
}

.subscriptions_wrapper{
    padding: 20px;
    border-radius: 12px;
}
.subscriptions_tab_wrapper .invoices_wrapper{
    /* width: 1588px; */
    padding: 40px;
}
.subscriptions_tab_wrapper table{
    border:0px;
    border-collapse: collapse;
    width: 100%;
}
.subscriptions_tab_wrapper table thead {
    position: sticky;
    z-index:1;
}
.subscriptions_tab_wrapper table td,th{
    border-left:0px;
    border-right:0px;
    border-top: 0px;
    /* padding-left: 40px; */
}
.subscriptions_tab_wrapper table th{
    text-align:left;
    border:0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
}
.subscriptions_tab_wrapper .table-container_invoice{
    max-height: 614px;
    overflow-y: auto;
}
.subscriptions_tab_wrapper .customfield__form-control{
    width: 417px;
    max-width: 100%;
    height: 44px;
    gap: 0px;
    border-radius: 12px;
    background-color: rgba(244, 245, 247, 1);
    border: 1px solid rgba(244, 245, 247, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.68px;
    text-align: left;
    color: rgba(151, 152, 172, 1);
    padding-left: 40px;
    background-image: url('../../assets/images/png/searchIcon.png');
    background-repeat: no-repeat;
    background-position: 10px 50%;
}

.subscriptions_tab_wrapper .pagination-div{
    display: flex;
    justify-content: end;
    padding-top: 20px;
    align-items: center;
}
.subscriptions_tab_wrapper .pagination-active-page{
    width: 37px;
    height: 36px;
    background-color: #253D98;
    border: 1px solid #253D98;
    border-radius: 5px;
    color: #FFFFFF;
}
.pagination-left-arrow, .pagination-right-arrow {
    margin: 0px 15px;
    cursor: pointer;
}
.subscriptions_tab_wrapper .pagination-page {
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.72px;
    background-color: transparent;
    width: 37px;
    height: 36px;
    line-height: 39px;
}
.subscriptions_tab_wrapper .no-img-span {
    height: 30px;
    width: 30px;
    background-color: #2F3990;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    margin-right: 10px;
    color: #fff;
}
.subscriptions_tab_wrapper table thead tr th:first-child {
    width: 15%;
}
.subscriptions_tab_wrapper table thead tr th:nth-child(2) {
    width: 15%;
}
.subscriptions_tab_wrapper table thead tr th:nth-child(3) {
    width: 20%;
}
.subscriptions_tab_wrapper table thead tr th:nth-child(4) {
    width: 20%;
}
.subscriptions_tab_wrapper table thead tr th:nth-child(5) {
    width: 10%;
}
.subscriptions_tab_wrapper table thead tr th:nth-child(6) {
    width: 10%;
}
.subscriptions_tab_wrapper th:last-child, .subscriptions_tab_wrapper td:last-child {
    text-align: start;
}
.subscriptions_tab_wrapper td {
    width: max-content;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
}
.subscriptions_tab_wrapper th {
    padding-left: 10px;
    padding-right: 10px;
}
.subscriptions_wrapper .table_search {
    margin-bottom: 25px;
}
.subscriptions_tab_wrapper .no-data-found{
    padding: 40px 0px;
}


/* .subscriprionDetail_subDetail.history_wrapper{
    width: 1525px;
} */
@media(max-width:1460px){
    .subscriptionTable-wrapper {
        overflow: auto;
    }
    .subscriptions_tab_wrapper table {
        width: 1585px;
    }
}
@media(max-width:1199px){
    .invoiceTableWrapper {
        overflow: auto;
    }
    
    .invoiceTableWrapper 
     table.history_invoicetable {
        width: 1199px;
    }
}
@media(max-width: 1024px){
    .subscriptionDetailWrapper{
        flex-wrap: wrap;
    }
    .subscriptionDetail_section1_wrapper{
        width: 100%;
    }
    .subscriprionDetail_subDetail{
        margin-top: 30px;
    }
    .subscriprionDetail_subDetail{
        margin-right: 0;
     }
}
@media(max-width: 768px){
    .summarry_table{
        overflow: auto;
    }
    .subscriprionDetail_subDetail{
       margin-right: 0;
    }
    .subscriptions_tab_wrapper .customfield__form-control{
        width: 250px;
    }
}
@media(max-width:575px){
    .subscriptions_tab_wrapper .customfield__form-control,.table_search .form-group{
        width: 100%;
        box-sizing: border-box;
    }
}
@media(max-width: 425px){
    .subscriprionDetail_data{
        display: block;
    }
}
