.invoice_tab_wrapper .invoices_wrapper{
    padding: 20px;
    border-radius: 12px;
    margin-top: 25px;
}
.invoice_tab_wrapper table{
    border:0px;
    border-collapse: collapse;
    width: 100%;
}
.invoice_tab_wrapper table thead {
    position: sticky;
    z-index:1;
}
.invoice_tab_wrapper table td,th{
    border-left:0px;
    border-right:0px;
    border-top: 0px;
}
.invoice_tab_wrapper table th{
    text-align:left;
    border:0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    padding-left: 0;
}
.invoice_tab_wrapper .table-container_invoice{
    max-height: 614px;
    overflow-y: auto;
}
.invoice_tab_wrapper .customfield__form-control{
    width: 417px;
    max-width: 100%;
    height: 44px;
    gap: 0px;
    border-radius: 12px;
    background-color: rgba(244, 245, 247, 1);
    border:1px solid rgba(244, 245, 247, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.68px;
    text-align: left;
    color: rgba(151, 152, 172, 1);
    padding-left: 40px;
    background-image: url('../../assets/images/png/searchIcon.png');
    background-repeat: no-repeat;
    background-position: 10px 50%;
}
.invoices_wrapper .table_search {
    margin-bottom: 25px;
}
.invoice_tab_wrapper .pagination-div{
    display: flex;
    justify-content: end;
    padding-top: 20px;
    align-items: center;
}
.invoice_tab_wrapper .pagination-active-page{
    width: 37px;
    height: 36px;
    background-color: #253D98;
    border: 1px solid #253D98;
    border-radius: 5px;
    color: #FFFFFF;
}
.invoice_tab_wrapper .pagination-page {
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.72px;
    background-color: transparent;
    width: 37px;
    height: 36px;
}
.invoice_tab_wrapper .no-data-found{
    padding: 40px 0px;
}
.pagination-left-arrow, .pagination-right-arrow {
    margin: 0px 15px;
    cursor: pointer;
}
.invoice_tab_wrapper .no-img-span {
    height: 30px;
    width: 30px;
    background-color: #2F3990;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    margin-right: 10px;
    color: #fff;
}
.invoice_tab_wrapper table thead tr th:first-child {
    width: 7%;
}
.invoice_tab_wrapper table thead tr th:nth-child(2) {
    width: 8%;
}
.invoice_tab_wrapper table thead tr th:nth-child(3) {
    width: 24%;
}
.invoice_tab_wrapper table thead tr th:nth-child(4) {
    width: 12%;
}
.invoice_tab_wrapper table thead tr th:nth-child(5) {
    width: 23.5%;
}
.invoice_tab_wrapper table thead tr th:nth-child(6) {
    width: 7%;
}
.invoice_tab_wrapper table thead tr th:nth-child(7) {
    width: 7%;
}
.invoice_tab_wrapper table thead tr th:nth-child(8) {
    width: 8%;
}
.invoice_tab_wrapper table thead tr th:last-child {
    width: 3.5%;
}
@media(max-width:1560px){
    .invoices_Table--wrapper {
        overflow: auto;
    }
    .invoice_tab_wrapper table{
        width: 1547px;
    }
}
@media(max-width:767px){
    .invoice_tab_wrapper .customfield__form-control{
        width: 250px;
    }
}
@media(max-width:560px){
    .table_search{
        flex-wrap: wrap;
    }
    .table_search .form-group{
        margin-bottom: 15px;
        width: 100%;
    }
    .table_search .form-group,.invoice_tab_wrapper .customfield__form-control {
        width: 100%;
        box-sizing: border-box;
    }
    .company_button {
        margin-left: auto;
    }
}