.company-section{
    background: #fff;
    border-radius: 12px;
    padding: 20px;
    margin-top: 25px;
}
.companytab_wrapper {
    padding: 0px;
    background-color: #F4F5F7;
    height: calc(100vh - 215px);
}
.customfield__form-control{
    width: 417px;
    max-width: 100%;
    height: 44px;
    gap: 0px;
    border-radius: 12px;
    background-color: rgba(244, 245, 247, 1);
    border: 1px solid rgba(244, 245, 247, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.68px;
    text-align: left;
    color: rgba(151, 152, 172, 1);
    padding-left: 40px;
    background-image: url('../../assets/images/png/searchIcon.png');
    background-repeat: no-repeat;
    background-position: 10px 50%;
}
.company_button{
    background-color: #253D98;
    color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #2F3990;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    height: 44px;
    width: 190px;
    font-size: 16px;
    font-weight: 500;
    line-height: 23.68px;
    text-align: left;
    padding: 5px 15px;
}
.company-table {
    padding-top: 20px;
    overflow: auto;
}
.company-table table{
    border:0px;
    border-collapse: collapse;
}
.company-table table thead {
    position: sticky;
    z-index:1;
}
.company-table table td,th{
    border-left:0px;
    border-right:0px;
    border-top: 0px;
}
.company-table  table th{
    text-align:left;
    border:0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    color: #9798AC;
    padding-left: 0;
}
.company-table table thead tr th:first-child {
    width: 13%;
}

.company-table table thead tr th:nth-child(2) {
    width: 7.7%;
}
.company-table table thead tr th:nth-child(3) {
    width: 6%;
}
.company-table table thead tr th:nth-child(4) {
    width: 8%;
}
.company-table table thead tr th:nth-child(5) {
    width: 6%;
}
.company-table  table thead tr th:last-child {
    width: 5%;
    text-align: center;
}
.company-table  table tbody tr td:last-child img.ml-20px{
    margin: 0 auto;
    display: block;
}
.company-table .no-img-span {
    height: 30px;
    width: 30px;
    background-color: #2F3990;
    text-align: center;
    justify-content: center;
    border-radius: 30px;
    margin-right: 10px;
    color: #fff;
}
.companytab_wrapper .pagination-div{
    display: flex;
    justify-content: end;
    padding-top: 20px;
    align-items: center;
}
.companytab_wrapper .pagination-active-page{
    width: 37px;
    height: 36px;
    background-color: #253D98;
    border: 1px solid #253D98;
    border-radius: 5px;
    color: #FFFFFF;
}
.companytab_wrapper .pagination-page {
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 20.72px;
    background-color: transparent;
    height: 36px;
    width: 36px;
    line-height: 36px;
}
.companytab_wrapper .no-data-found{
    padding: 40px 0px;
}
@media(max-width:1400px){
    .company-table {
        overflow: auto;
    }
    .company-table table {
        width: 1180px;
    }
}
@media(max-width:767px){
    .customfield__form-control{
        width: 250px;
    }
}
@media(max-width:560px){
    .table_search{
        flex-wrap: wrap;
    }
    .table_search .form-group{
        margin-bottom: 15px;
        width: 100%;
    }
    .table_search .form-group,.customfield__form-control {
        width: 100%;
        box-sizing: border-box;
    }
    .company_button {
        margin-left: auto;
    }
}